
<section class="container-fluid pricing-img">
    <section class="container inner-pricing margin-bottom">

        <div class="row see-through-pricing">
            <h1 class="margin-bottom-extra text-center col-sm-10 col-sm-push-1"> Management fees</h1>
                <div class="col-sm-5 col-sm-push-1">
                    Outstanding Customer Service with one of the most competitive Fee Schedules in the Industry. We believe you shouldn’t have to sacrifice one for the other and with Benefit National you never will. We pledge to keep it simple and never charge any hidden fees, or unnecessary fees that Management Companies have been known to do.
                    Outstanding Customer Service with one of the most competitive Fee Schedules in the Industry. We believe you shouldn’t have to sacrifice one for the other and with Benefit National you never will. We pledge to keep it simple and never charge any hidden fees, or unnecessary fees that Management Companies have been known to do.

                    When you sign a Management Contract with us you will always know exactly what to expect and we’re confident you’ll be pleased with the outcome.
                </div>

                <div class="col-sm-5 col-sm-push-1">
                    <table class="table">

                        <tr>
                            <th>
                                Service
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Finding new tenant
                            </td>
                            <td>
                                99$
                            </td>

                        </tr>


                    </table>
                </div>
            </div>
    </section>

</section>